APP_NAME=MyComList
APP_ENV=production
APP_KEY=base64:AxLBvlvL/o3vG2mWokgRSVKmoCryXbua/a14nKIp1Kg=
APP_DEBUG=false
APP_URL=https://MyComlist.up.railway.app

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

# Database (Railway akan mengisi otomatis, kosongkan saja di dashboard)
DB_CONNECTION=mysql

# Menggunakan database untuk session, cache, dan queue agar data persist
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

QUEUE_CONNECTION=database
CACHE_STORE=database

# Log ke stderr agar muncul di dashboard Railway
LOG_CHANNEL=stderr
LOG_LEVEL=info

# Keamanan tambahan
BCRYPT_ROUNDS=12

# Jika menggunakan Mail (Opsional)
MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@mycomlist.com"
MAIL_FROM_NAME="${APP_NAME}"

# Konfigurasi Tambahan
JIKAN_API_URL=https://api.jikan.moe/v4